#my-table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
}

#my-table {
    width: max-content;
}

/* single-row column design */
/* #scores-table > tr { display: block; float: left; }


#scores-table > th { display: block; border: 1px solid black; }
#scores-table > td { display: block; border: 1px solid black; } */

/* border-collapse */
/* #scores-table > tr>*:not(:first-child) { border-top: 0; }
#scores-table > tr:not(:first-child)>* { border-left:0; } */

/* IE-10/11 Grid */
/* .vertical {
    display: -ms-grid;
    -ms-grid-rows: auto auto;
    -ms-grid-columns: auto auto;
}
.vertical thead {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}
.vertical tbody {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}
.vertical caption {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
} */
  

/* Everyone Else's Grid */
/* @supports (display: grid) {
    .vertical {
       display: grid;
       grid-template-columns: min-content min-content;
       grid-template-rows: auto auto;
       grid-template-areas:
         "caption caption"
         "head body";
    }
    .vertical thead {
       grid-area: head;
    }
    .vertical tbody {
       grid-area: body;
    }
    .vertical caption {
       grid-area: caption; 
    }
} */
  
/* Flex - Cross Browser CSS */
/* .vertical thead {
    display: flex;
    flex-shrink: 0;
    min-width: min-content;
} */
/* .vertical tbody {
    display: flex;
} */
/* .vertical tr {
    display: flex;
    flex-direction: column;
    min-width: min-content;
    flex-shrink: 0;
} */
/* .vertical td, .vertical th {
    display: block;
}
.vertical caption {
    display: block;
} */
  
  
/* Visual styling */
table { border-collapse: collapse; }
.vertical td {
    border: 1px solid black; 
}
.vertical th {
    border: 1px solid black;
    background-color: grey;
    color: white;
}
  