table { 
    border-collapse: collapse;
    margin: 15px;
}
td {
    border: 1px solid black; 
    padding: 10px;
}
th {
    border: 1px solid black;
    background-color: grey;
    color: white;
    padding: 10px;
}

#toep-round th {
    padding: 5px;
    text-align: center;
    font-weight: bold;
    line-height: 4em;
    color: #fff;
    background-color: #555;
}
#toep-round td {
    text-align: center;
}

#bb-scoresheet {
    border: 0;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
}
#bb-scoresheet th {
    padding: 5px;
    text-align: right;
    font-weight: bold;
    line-height: 4em;
    color: #fff;
    background-color: #555;
}
#bb-scoresheet tbody td {
    padding: 10px;
    line-height: 18px;
    border-top: 1px solid #e0e0e0;
}
#bb-scoresheet tbody tr:nth-child(2n) {
    background-color: #f7f7f7;
}
#bb-scoresheet td {
    text-align: right;
}
#bb-scoresheet td:first-child, #bb-scoresheet th:first-child {
    text-align: left;
}
