{% extends 'base.html' %}


{% block head %}
<title>Bridge Scoresheet</title>
{% endblock %}


{% block body %}
<h1 class="mt-5" style="text-align: center;">Boeren bridge</h1>

<div style="height: 20px;"></div>

{% if not playing %}
<div class="modal" id="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Choose players</h5>
          <button type="button" class="btn-close" data-dismiss="modal" data-target="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            <form action="/bridge" method="POST" id="player_form">
              <label for="add-btn">Insert player name: </label>
              <input type="text" name="playername" id="playername" placeholder="Player name"/>
              <button type="submit" id="add-player" name="add-player" value="Add player">Add Player</button>
            </form>
          </p>
          <p id="notification" style="display: none; color: darkgreen;">Succesfully added player!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" data-target="modal">Close</button>
        </div>
      </div>
    </div>
</div>
{% endif %}

<div class="container">
  <div class="row">
    <div class="col-6 col-md-12" style="text-align: center;">
      <table id="bb-scoresheet">
        <thead>
          <tr>
            <th>Round</th>
            {% for player in players %}
            <th>{{ player.name }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
          {% for round in rounds: %}
          <tr>
              <td>{{ round.round_nm }}</td>
              {% for score in round.scores %}
              <td>{{ score.score }}</td>
              {% endfor %}
          </tr>
          {% endfor %}
          <tr>
            <td>Current round</td>
            <form action="/bridge" method="POST" id="guesswins">
              {% for player in players %}
              <td>
                <label for="{{ player.name + 'guess' }}">Guess: </label>
                <select class="guess" id="{{ player.name + 'guess' }}" name="{{ player.name + 'guess' }}" form="guesswins" default=0>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <br>
                <label for="{{ player.name + 'wins' }}">Wins: </label>
                <select class="wins" id="{{ player.name + 'wins' }}" name="{{ player.name + 'wins' }}" form="guesswins">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
              </td>
              {% endfor %}
          </form>
          </tr>
        </tbody>
      </table>
      <br>
      <div style="text-align: center;">
        <button type="submit" id="add-round" name="add-round" value="Add round" form="guesswins">Add round</button>
      
        <button type="button" id="endgame" name="endgame" value="End Game" data-toggle="modal" data-target="warning" 
        onclick="$(document).ready(function() {
          $('#warning').modal('show')
          $('#warning').modal(options);
        });">End Game</button>
      </div>
      <br>
    </div>

    <div class="col-6 col-md-12" style="text-align: center; margin: 10px; display: inline-block;">
      <h3>Rankings</h3>
      <br>
      <table id="scores-table" onload="sortTable(document.getElementById())" style="margin-right: auto; margin-left: auto;">
        {% for player in players %}
        <tr>
            <th>{{ player.name }}</th>
            <td>{{ totals[player] }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <br>
  <form action="/logout" id="newgame" style="display: none;">
    <button type="submit" class="btn" value="New game">New Game</button>
  </form>
</div>




<div class="modal fade" id="warning" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="color: crimson;">
        <h5 class="modal-title">Warning!</h5>
        <button type="button" class="btn-close" data-dismiss="modal" data-target="warning" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          Warning: Ending the game makes it impossible to add any more rounds. <br>
          Make sure the last round has been added to the game scores.
        </p>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-target="warning">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-target="warning" onclick="EndGame()">End Game</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block foot %}Playing Boeren Bridge...{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        $('#modal').modal('show')
        $('#modal').modal(options);
    });

</script>
{% endblock %}
