{% extends 'base.html' %}


{% block head %}
<title>Toepen Scoresheet</title>
{% endblock %}


{% block body %}
<h1 class="mt-5" style="text-align: center;">Toepen</h1>
{% if not playing %}
<div class="modal" id="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Choose players</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            <form action="/toepen" method="POST" id="player_form">
              <label for="add-btn">Insert player name: </label>
              <input type="text" name="playername" id="playername" placeholder="Player name"/>
              <button type="submit" id="add-player" name="add-player" value="Add player">Add Player</button>
            </form>
          </p>
          <p id="notification" style="display: none; color: darkgreen;">Succesfully added player!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
{% endif %}

<table id="toep-scores" style="margin-left: auto; margin-right: auto;">
    <tr>
        {% for player in players %}
        <th>{{ player.name }}</th>
        {% endfor %}
    </tr>
    <tr>
        {% for player in players %}
        <td>{{ scores[player.id] }}</td>
        {% endfor %}
    </tr>    
</table>

<table id="toep-round" style="margin-left: auto; margin-right: auto;">
    <tr>
        {% for player in players %}
        <th>{{ player.name }}</th>
        {% endfor %}
    </tr>
    <tr>
        {% for player in players %}
        <td>
          {% if player in alive %}
            {% if player.status_in %}
              {% if toep %}
              <input type="radio" id="{{ player.name + 'in' }}" name="{{ player.name + 'inorout' }}" value="IN" form="inorout">
              <label for="{{ player.name + 'in' }}">IN</label> <br>
              <input type="radio" id="{{ player.name + 'out' }}" name="{{ player.name + 'inorout' }}" value="OUT" form="inorout">
              <label for="{{ player.name + 'out' }}">OUT</label>
              {% else %}
              <form action="/toepen" class="toep-btns" method="POST" id="{{ player.name + 'toep' }}" name="{{ player.name + 'toep' }}">
                <button type="submit" class="toep-btns" id="{{ player.name + 'toep' }}" name="{{ player.name + 'toep' }}" value="Toep!" form="{{ player.name + 'toep' }}">Toep!</button>
              </form>
              <br>
              <form action="/toepen" class="toep-btns" method="POST" id="{{ player.name + 'winner' }}">
                <button type="submit" id="{{ player.name + 'winner' }}" name="{{ player.name + 'winner' }}" value="Winner" form="{{ player.name + 'winner' }}">Winner</button>
              </form>
              {% endif %}
            {% else %}
              OUT
            {% endif %}
          {% else %}
            DEAD
          {% endif %}       
        </td>
        {% endfor %}
        {% if toep %}
        <form action="/toepen" method="POST" id="inorout"></form>
          <button type="submit" form="inorout">Submit</button>
        </form>
        {% endif %}
    </tr>
</table>

<br>
Current bet: {{ current_bet }}

{% endblock %}

{% block foot %}Playing Toepen...{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {
        $('#modal').modal('show')
        $('#modal').modal(options);
    });
</script>
{% endblock %}
